.classname {
    background-color: red;
}

.centerBanana {
    text-align: center;
    font-size: 50px;
}

#idname {
    background-color: blue;
    color: yellow;
}

h1 {
    font-size: 100px;
}

#moveDown {
    padding-top: 100px;
}